<h1>User Registration</h1>
<div>
<form method="post" action="/login">
Email: <input type="text" name="email" placeholder="email">
Password: 
<input type="password" name="password" placeholder="enter password">
<button>Login</button>
</form>
</div>
