<h1>User Registration</h1>
<div>
<form method="post" action="/users">
First Name: <input type="text" name="firstName" placeholder="please enter your first name">
Last Name: <input type="text" name="lastName" placeholder="please enter your last name">
Email: <input type="text" name="email" placeholder="email">
Password: <input type="password" name="password" placeholder="enter password">
Phone: <input type="text" name="phone" placeholder="please enter your phone number">
<p>Please select any of the subscription above:</p>
<select name="subscription">
<option value="Weekly"> Weekly </option>
<option value="Monthly"> Monthly</option>
<option value="Annually"> Annually </option>
</select>
Date of Birth: <input type="text" name="dob" placeholder="please enter your date of birth">
<button>Submit</button>
</form>